* {
  padding: 10px;
  font-family: sans-serif;
  background-color: #f69e9e;
}

.container {
  text-align: center;
  margin-top: 5rem;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

h1 {
  color: #371e30;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.btn {
  display: block;
  margin: 0 auto;
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.4rem;
  margin-top: 2rem;
  cursor: pointer;
  background-color: #ddd;
  color: black;
}

.btn:hover {
  border: 1px solid #df57bc;
  background-color: #df57bc;
  color: #fff;
}

.item {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 2rem auto;
  align-items: center;
}

/* .formContainer {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */

input[type='text'] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
}

/* .recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */
/* .recipes {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  background: white;
  align-items: center;
  min-width: 40%;
  flex-wrap: wrap;
} */
